body {
    background-color: #000;
    color: #0ff;
    /* Light blue font color */
    font-family: 'Courier', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

header {
    padding: 50px 5px 10px 5px;
    max-width: 100%;
}

h1 {
    font-size: 3em;
    margin: 10px;
}

h2 {
    font-size: 1.25em;
    max-width: 100%;
}

p {
    font-size: 1.2em;
    margin: 20px;
    max-width: 100%;
}

.timer {
    margin-top: 5px;
    margin-bottom: 20px;
}

/* visited link */
a[href]:visited {
    color: #00d0ff;
}

/* mouse over link */
a[href]:hover {
    color: #00ddff;
}

/* unvisited link */
a[href] {
    color: #0ff;
    text-decoration: none;
}

fieldset {
    border: 2px solid #0ff;
    border-radius: 15px;
    padding: 16px;
    margin-bottom: 5px;
    width: max-content;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    display: inline;
}

legend {
    font-size: 18px;
    color: #0ff;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 8px;
    appearance: none;
    /* Remove default radio button appearance */
    width: 18px;
    height: 18px;
    border: 2px solid #0ff;
    border-radius: 50%;
    /* Make it round */
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style the radio button when checked */
input[type="radio"]:checked {
    background-color: #0ff;
    border-color: #0ff;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    max-width: 100%;
    border: 1px solid #0ff;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
    color: #0ff;
}

#loginContainer {
    display: none;
    /* Initially hide the input container */
    position: fixed;
    /* Position the container relative to the viewport */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Center the container */
    z-index: 9999;
    /* Ensure it's on top of other content */
    background-color: black;
    padding: 30px 10px 30px 10px;
    border: 2px solid #0ff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#textInput,
#texInput:focus,
#textInput:active {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(31, 28, 28);
    border: 2px solid #0ff;
    color: #0ff;
    border-radius: 6px;
}

.button-28 {
    appearance: none;
    background-color: transparent;
    border: 1px solid #0ff;
    border-radius: 15px;
    box-sizing: border-box;
    color: #0ff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-height: 20px;
    min-width: fit-content;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #0ff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

.options p {
    text-align: left;
}

footer {
    padding: 20px;
}

header img {
    width: 2.5em;
    /* Set the width to match the font size */
    height: 1em;
    /* Set the height to match the font size */
}